{{yield}}

{{#if addQuestion}}
  <div>
    <form class="forms">
      <h3>Submit your own Question</h3>
      <div class="form-group">
        {{input value=content id="content" class="form-control" placeholder="Question"}}
      </div>

      <div class="form-group">
        {{input value=author id="author" class="form-control" placeholder="Your Name"}}
      </div>

      <div class="form-group">
        {{input value=notes id="notes" class="form-control" placeholder="Additional Notes"}}
      </div>

      <button {{action 'saveQuestion'}} class="btn btn-submit">ADD</button>
      <button {{action 'cancel'}} class="btn btn-warning">CANCEL</button>
    </form>
  </div>
{{else}}
  <button {{action 'questionFormShow'}} class="btn btn-link">Click here to submit your own!</button>
{{/if}}
