{{yield}}

{{#if addAnswer}}
  <div>
    <form class="forms">
      <h3>Submit an Answer</h3>
      <div class="form-group">
        {{input value=name id="name" class="form-control" placeholder="Your Name"}}
      </div>

      <div class="form-group">
        {{input value=text id="text" class="form-control" placeholder="Answer"}}
      </div>

      <button {{action 'submitAnswer' question}} class="btn btn-submit">Go!</button>
      <button {{action 'cancel'}} class="btn btn-warning">CANCEL</button>
    </form>
  </div>
{{else}}
  <button {{action 'answerFormShow'}} class="btn btn-submit">Submit your own Answer!</button>
{{/if}}
