{{yield}}

<h2 id="question">{{question.content}}</h2>
<h4 class="author">Submitted by {{question.author}}</h4>
<p>Additional Notes: {{question.notes}} </p>

<hr>

<h3 class="head">Answers:</h3>
<div class="container">
  <div class="body">
    {{#if question.answers}}
      {{#each question.answers as |answer|}}
        <h4>{{answer.text}}</h4>
        <p>Submitted by {{answer.name}} on {{format-date answer.date_added}}</p>
        <div class="btn group">
            <button {{action 'deleteAnswer' answer}} class="btn-xs" type="submit"><i class="glyphicon glyphicon-remove-circle"></i></button>
        </div>
      {{/each}}
    {{else}}
      <h4>There aren't any answers yet!</h4>
    {{/if}}
  </div>
</div>
<hr>
