{{yield}}

{{#if updateQuestionShowing}}
  <h3>Update Question</h3>
  <div>
    <form>
      <div class="form-group">
        {{input value=content id="content" class="form-control" placeholder="Question"}}
      </div>

      <div class="form-group">
        {{input value=author id="author" class="form-control" placeholder="Your Name"}}
      </div>

      <div class="form-group">
        {{input value=notes id="notes" class="form-control" placeholder="Additional Notes"}}
      </div>

      <button {{action 'updateQuestion' question}} class="btn btn-submit">Submit</button>
      <button {{action 'cancel'}} class="btn btn-warning">CANCEL</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateFormShow'}} class="btn-xs" type="submit"><i class="glyphicon glyphicon-pencil"></i></button>
{{/if}}
