{{outlet}}

<h2>Welcome!</h2>
<h4>Click on a question to learn more or submit an answer or {{new-question saveQuestion="saveQuestion"}}</h4>

<hr>

<ul style="list-style: none;">
  {{#each model as |question|}}
    <li>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}} :: {{question.author}}</li>
    <div class="btn group">
      <li>
        <button {{action 'delete' question}} class="btn-xs" type="submit"><i class="glyphicon glyphicon-remove-circle"></i></button>
        {{update-question question=question updateQuestion="updateQuestion"}}
      </li>
    </div>
    <br>
  {{/each}}
</ul>
